In [2]:
# que 1 :
s = "aryan"
l = [1.2,3,4+5j,"aryan",True]
f = 5.5
t = (1,2.3,4+5j)
print(type(s))
print(type(l))
print(type(f))
print(type(t))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [3]:
# que 2 : 
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [4]:
# que 3 : 
# / divieds a value from another and return the result
d = 5/4
print(d)
# % returns the remainder after dividing one value from another
r = 5%4
print(r)
# // divides a value from another and return the floor value of result
f = 5//4
print(f)
# ** returns a value exponent to another
p = 5**4
print(p)

1.25
1
1
625

In [5]:
# que 4 : 
l = [1,2,3,4.5,6+7j,True,False,"aryan",[1,2.5],{1,4,2}]
for i in l:
    print(i)

1
2
3
4.5
(6+7j)
True
False
aryan
[1, 2.5]
{1, 2, 4}

In [7]:
# que 5 : 
a=4+5
print(a)

9

In [11]:
# que 6 :
l = [1,2,3,4,5,6,7,8,9,10,11,1,2,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
for i in l:
    if(i%3==0):
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
1 is not divisible by 3
2 is not divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3
26 is not divisible by 3
27 is divisible by 3
28 is not divisible by 3
29 is not divisible by 3
30 is divisible by 3

In [13]:
# que 7 : 
# mutable data types are the types of data collection that allows to change its value without changing its identity
# inmutable data types are the types of data collection that does not allows to change its value 
l= [1,2,3.4,"aryan"]
l[1] = 4
print(l)

t= (1,2,3.4,"aryan")
t[1] = 4
print(t)

[1, 4, 3.4, 'aryan']

TypeError: 'tuple' object does not support item assignment